In [ ]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Create a DataFrame with datetime objects
data = { 'Event': ['Event1', 'Event2', 'Event3'],
        'Date': [datetime(2023, 1, 1, 10, 0),
                 datetime(2023, 1, 2, 12, 30),
                 datetime(2023, 1, 3, 14, 45)]
         }
df = pd.DataFrame(data)
df

In [ ]:
df.info()

In [ ]:
# Filter events after January 1, 2023, 11:00 AM
filtered_df = df[df['Date'] > datetime(2023, 1, 1, 11, 0)]
filtered_df

In [ ]:
# Add 5 days to each date in the DataFrame
df['Date_Plus_5_Days'] = df['Date'] + timedelta(days=5)
df

In [ ]:
 # Subtract 3 hours from each date in the DataFrame
df['Date_Minus_3_Hours'] = df['Date'] - timedelta(hours=3)
df

In [ ]:
# Calculate duration between two dates
df['Duration'] = df['Date'] - df['Date'].shift(1)
df

In [ ]:
# Generate a range of dates from today
start_date = datetime(2023, 1, 1)
date_range = [start_date + timedelta(days=x) for x in range(10)]
date_df = pd.DataFrame(date_range, columns=['Date'])
date_df

In [ ]:
# Converting between string and datetime
date_string = '2023-06-18 12:30:00'
date_format = '%Y-%m-%d %H:%M:%S'
# Parsing the date string into a datetime object
dt_object = datetime.strptime(date_string, date_format)
print(dt_object)

In [ ]:
print(type(date_string))
print(type(dt_object))

In [ ]:
# Formatting datetime objects in a Series
# Create a Series of datetime objects
dates = pd.Series([datetime(2023, 1, 1), datetime(2023, 2, 15), datetime(2023, 3, 31)])

# Format the datetime objects as strings in the format 'YYYY-MM-DD'
formatted_dates = dates.dt.strftime('%Y-%m-%d')
print(formatted_dates)

In [ ]:
# Formatting datetime objects in a Series
# Create a Series of datetime objects
dates = pd.Series([datetime(2023, 1, 1), datetime(2023, 2, 15), datetime(2023, 3, 31)])

# Format the datetime objects as strings in the format 'YYYY-MM-DD'
formatted_dates = dates.dt.strftime('%d %b/%Y %A')
print(formatted_dates)

In [ ]:
# Formatting datetime objects in a DataFrame

# Create a DataFrame with datetime objects
data = { 'Start_Date': [datetime(2023, 1, 1), datetime(2023, 2, 1), datetime(2023, 3, 1)],
        'End_Date': [datetime(2023, 1, 15), datetime(2023, 2, 15), datetime(2023, 3, 15)]
         }
df = pd.DataFrame(data)
df

In [ ]:

# Format datetime objects as string format 'DD/MM/YYYY'
formatted_df = df.map(lambda x: x.strftime('%d/%m/%Y'))

formatted_df

In [ ]:
# Sample data
data = { 'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04'],
        'Value': [10, 15, 14, 13] }
df = pd.DataFrame(data)
df

In [ ]:
df.dtypes

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])  # Convert to datetime
df

In [ ]:
df.dtypes

Pandas Timestamp

In [ ]:
# Creating a Timestamp from a string
timestamp1 = pd.Timestamp('2023-06-18')
print(timestamp1)

In [ ]:
# Creating a Timestamp from a datetime object
timestamp2 = pd.Timestamp(2023, 6, 18, 12, 30)
print(timestamp2)

In [ ]:
# Creating a Timestamp from a string
timestamp1 = pd.Timestamp('2023-06-18')
print(timestamp1)

In [ ]:
# Creating a Timestamp from a datetime object
timestamp2 = pd.Timestamp(2023, 6, 18, 12, 30)

# Adding a timedelta to a Timestamp
new_timestamp = timestamp2 + pd.Timedelta(days=5)
print(new_timestamp)

In [ ]:
timestamp2

In [ ]:
# Time zone conversion
timestamp_utc = timestamp2.tz_localize('UTC')
timestamp_est = timestamp_utc.tz_convert('US/Eastern')
print(timestamp_utc)
print(timestamp_est)

In [ ]:
# Creating a Period for a single month
period_month = pd.Period('2023-06', freq='M')
print(period_month)

In [ ]:
# Creating a Period for a single day
period_day = pd.Period('2023-06-18', freq='D')
print(period_day)

In [ ]:
# Adding a period
new_period = period_month + 1
print(new_period)

In [ ]:
# Subtracting a period
previous_period = period_day - 1
print(previous_period)

In [ ]:
# Converting frequency
period_year = period_month.asfreq('M')
print(period_year)

PANDAS DATE_RANGE

In [ ]:
# Generate a range of dates from January 1, 2023 to January 10, 2023
date_range = pd.date_range(start='2023-01-01', end='2023-01-10')
date_range

In [ ]:
# Generate a range of monthly dates from January to June 2023
monthly_date_range = pd.date_range(start='2023-01-01', end='2023-06-01', freq='ME')
print(monthly_date_range)

In [ ]:
# Generate a range of 10 half hourly datetimes from January 2020
halfhourly_date_range = pd.date_range('2000-01-01', periods=10, freq='30min')
print(halfhourly_date_range)

In [ ]:
# Generate a range of dates
date_range = pd.date_range(start='2023-01-01', periods=5, freq='D')
print(date_range)

In [ ]:
# Create a DataFrame
df = pd.DataFrame(date_range, columns=['Date'])
df

In [ ]:
# Add a column with formatted date strings
df['Formatted_Date'] = df['Date'].dt.strftime('%d-%m-%Y')
df

In [ ]:
df.dtypes

In [ ]:
# Indexing date column
# Sample data
data = { 'Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04'],
        'Value': [10, 15, 14, 13]
         }
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert to datetime

In [ ]:
df

In [ ]:
df.set_index('Date', inplace=True)
df

In [ ]:
# Creating a DatetimeIndex from a list of dates
dates = ['2023-06-18', '2023-06-19', '2023-06-20']
datetime_index = pd.DatetimeIndex(dates)
print(datetime_index)

In [ ]:
# Creating a DatetimeIndex using pd.date_range
date_range = pd.date_range(start='2023-01-01', periods=10, freq='D')

# Creating a Series with DatetimeIndex
data = np.random.rand(len(date_range))
series = pd.Series(data, index=date_range)
print(series)

In [ ]:
# Using a DatetimeIndex in a DataFrame
# Creating a DataFrame with DatetimeIndex
data = { 'Sales': [100, 150, 200, 130, 120, 170, 180, 160, 190, 200],
        'Expenses': [90, 110, 180, 120, 110, 150, 160, 140, 170, 180]
         }
df = pd.DataFrame(data, index=date_range)
df

In [ ]:
# Creating a PeriodIndex from a list of period strings
periods = ['2023-06', '2023-07', '2023-08']
period_index = pd.PeriodIndex(periods, freq='M')
print(period_index)

In [ ]:
# Creating a PeriodIndex with a range of periods
period_range = pd.period_range(start='2023-06', end='2023-12', freq='M')
print(period_range)

In [ ]:
data = {'Values': [100, 200, 300, 400, 500, 600, 700]}
df = pd.DataFrame(data, index=period_range)
df

# **Resampling**

**Downsampling**

In [ ]:
# Creating a date range
dates = pd.date_range(start='2023-01-01', end='2023-03-31', freq='D')
dates

In [ ]:
# Creating a DataFrame with random values
data = np.random.randn(len(dates))
df = pd.DataFrame(data, index=dates, columns=['Value'])
df

In [ ]:
# Downsampling to monthly frequency
monthly_df = df.resample('ME').mean()
monthly_df

**Upsampling**

In [ ]:
# Creating a date range with monthly frequency
dates = pd.date_range(start='2023-01-01', end='2023-03-31', freq='ME')
dates

In [ ]:
# Creating a DataFrame with random values
data = np.random.randn(len(dates))
df = pd.DataFrame(data, index=dates, columns=['Value'])
df

In [ ]:
# Upsampling to daily frequency
daily_df = df.resample('D').asfreq()
daily_df

In [ ]:
interpolated = daily_df.interpolate(method='linear')
interpolated

# **Moving Window Functions**

**Rolling Operator**

In [ ]:
# Create a sample time series data
dates = pd.date_range(start='2024-01-01', periods=100, freq='D')
data = np.random.randn(100)
df = pd.DataFrame({'Date': dates, 'Value': data})
df

In [ ]:
# Set the 'Date' column as the index
df.set_index('Date', inplace=True)
df

In [ ]:
# Calculate the rolling mean with a window size of 7 days
df['RollingMean'] = df['Value'].rolling(window=7).mean()
print(df.to_string())

In [ ]:
# Plot the original data and the rolling mean
plt.figure(figsize=(10, 6))
plt.plot(df['Value'], label='Original Data')
plt.plot(df['RollingMean'], label='7-Day Rolling Mean', color='red')
plt.title('Rolling Window Function')
plt.xlabel('Date')
plt.ylabel('Value')
plt.legend()
plt.show()

**Using Expanding Operator**

In [ ]:
# Create a sample time series data
dates = pd.date_range(start='2024-01-01', periods=100, freq='D')
data = np.random.randn(100)
df = pd.DataFrame({'Date': dates, 'Value': data})
df

In [ ]:
# Set the 'Date' column as the index
df.set_index('Date', inplace=True)
df

In [ ]:
# Calculate the expanding mean
df['ExpandingMean'] = df['Value'].expanding().mean()
df

In [ ]:
# Plot the original data and the expanding mean
plt.figure(figsize=(10, 6))
plt.plot(df['Value'], label='Original Data')
plt.plot(df['ExpandingMean'], label='Expanding Mean', color='green')
plt.title('Expanding Window Function')
plt.xlabel('Date')
plt.ylabel('Value')
plt.legend()
plt.show()