In [6]:
## Part 1 - Load from and read to CSV file

############ 1 - Import pandas library.
import pandas as pd

##### 2 - Load data and print data from "employees.csv".
df=pd.read_csv('employees.csv')
print(df)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-Jun-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-Jan-08
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-Sep-03
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4           202          Pat          Fay      PFAY  603.123.6666  17-Aug-05
5           203        Susan       Mavris   SMAVRIS  515.123.7777   7-Jun-02
6           204      Hermann         Baer     HBAER  515.123.8888   7-Jun-02
7           205      Shelley      Higgins  SHIGGINS  515.123.8080   7-Jun-02
8           206      William        Gietz    WGIETZ  515.123.8181   7-Jun-02
9           100       Steven         King     SKING  515.123.4567  17-Jun-03
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-Jan-01
12          103    Alexander       Hunold   AHUNOLD  590.423.4567   3-Jan-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-May-07
14          105        David       Austin   DAUSTIN  590.423.4569  25-Jun-05
15          106        Valli    Pataballa  VPATABAL  590.423.4560   5-Feb-06
16          107        Diana      Lorentz  DLORENTZ  590.423.5567   7-Feb-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-Aug-02
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-Aug-02
19          110         John         Chen     JCHEN  515.124.4269  28-Sep-05
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-Sep-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469   7-Mar-06
22          113         Luis         Popp     LPOPP  515.124.4567   7-Dec-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561   7-Dec-02
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-May-03
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-Dec-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-Jul-05
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-Nov-06
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-Aug-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-Jul-04
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-Apr-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234   1-May-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-Oct-05
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-Nov-07
34          125        Julia        Nayer    JNAYER  650.124.1214  16-Jul-05
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-Sep-06
36          127        James       Landry   JLANDRY  650.124.1334  14-Jan-07
37          128       Steven       Markle   SMARKLE  650.124.1434   8-Mar-08
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-Aug-05
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-Oct-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-Feb-05
41          132           TJ        Olson   TJOLSON  650.124.8234  10-Apr-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-Jun-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-Aug-06
44          135           Ki          Gee      KGEE  650.127.1734  12-Dec-07
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634   6-Feb-08
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-Jul-03
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-Oct-05
48          139         John          Seo      JSEO  650.121.2019  12-Feb-06
49          140       Joshua        Patel    JPATEL  650.121.1834   6-Apr-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -         124             50
2      AD_ASST    4400             -         101             10
3       MK_MAN   13000             -         100             20
4       MK_REP    6000             -         201             20
5       HR_REP    6500             -         101             40
6       PR_REP   10000             -         101             70
7       AC_MGR   12008             -         101            110
8   AC_ACCOUNT    8300             -         205            110
9      AD_PRES   24000             -          -              90
10       AD_VP   17000             -         100             90
11       AD_VP   17000             -         100             90
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
14     IT_PROG    4800             -         103             60
15     IT_PROG    4800             -         103             60
16     IT_PROG    4200             -         103             60
17      FI_MGR   12008             -         101            100
18  FI_ACCOUNT    9000             -         108            100
19  FI_ACCOUNT    8200             -         108            100
20  FI_ACCOUNT    7700             -         108            100
21  FI_ACCOUNT    7800             -         108            100
22  FI_ACCOUNT    6900             -         108            100
23      PU_MAN   11000             -         100             30
24    PU_CLERK    3100             -         114             30
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
27    PU_CLERK    2600             -         114             30
28    PU_CLERK    2500             -         114             30
29      ST_MAN    8000             -         100             50
30      ST_MAN    8200             -         100             50
31      ST_MAN    7900             -         100             50
32      ST_MAN    6500             -         100             50
33      ST_MAN    5800             -         100             50
34    ST_CLERK    3200             -         120             50
35    ST_CLERK    2700             -         120             50
36    ST_CLERK    2400             -         120             50
37    ST_CLERK    2200             -         120             50
38    ST_CLERK    3300             -         121             50
39    ST_CLERK    2800             -         121             50
40    ST_CLERK    2500             -         121             50
41    ST_CLERK    2100             -         121             50
42    ST_CLERK    3300             -         122             50
43    ST_CLERK    2900             -         122             50
44    ST_CLERK    2400             -         122             50
45    ST_CLERK    2200             -         122             50
46    ST_CLERK    3600             -         123             50
47    ST_CLERK    3200             -         123             50
48    ST_CLERK    2700             -         123             50
49    ST_CLERK    2500             -         123             50

In [8]:
## 3 - Reload file, specify data has no header. Skip first 7 rows and show the next 12 rows after. Save to a new dataframe and print.
new_df=pd.read_csv('employees.csv', header=None, skiprows=7, nrows=12)
print(new_df)

     0          1          2         3             4          5           6   \
0   204    Hermann       Baer     HBAER  515.123.8888   7-Jun-02      PR_REP
1   205    Shelley    Higgins  SHIGGINS  515.123.8080   7-Jun-02      AC_MGR
2   206    William      Gietz    WGIETZ  515.123.8181   7-Jun-02  AC_ACCOUNT
3   100     Steven       King     SKING  515.123.4567  17-Jun-03     AD_PRES
4   101      Neena    Kochhar  NKOCHHAR  515.123.4568  21-Sep-05       AD_VP
5   102        Lex    De Haan   LDEHAAN  515.123.4569  13-Jan-01       AD_VP
6   103  Alexander     Hunold   AHUNOLD  590.423.4567   3-Jan-06     IT_PROG
7   104      Bruce      Ernst    BERNST  590.423.4568  21-May-07     IT_PROG
8   105      David     Austin   DAUSTIN  590.423.4569  25-Jun-05     IT_PROG
9   106      Valli  Pataballa  VPATABAL  590.423.4560   5-Feb-06     IT_PROG
10  107      Diana    Lorentz  DLORENTZ  590.423.5567   7-Feb-07     IT_PROG
11  108      Nancy  Greenberg  NGREENBE  515.124.4569  17-Aug-02      FI_MGR

       7    8    9    10
0   10000   -   101   70
1   12008   -   101  110
2    8300   -   205  110
3   24000   -    -    90
4   17000   -   100   90
5   17000   -   100   90
6    9000   -   102   60
7    6000   -   103   60
8    4800   -   103   60
9    4800   -   103   60
10   4200   -   103   60
11  12008   -   101  100

In [9]:
### 4 - Reload file, specify data has no header. Skip rows 3, 8, 15 and 36. Display data.
new_df1=pd.read_csv('employees.csv', header=None, skiprows=[3,8,15,36])
print(new_df1)

             0            1           2         3             4          5   \
0   EMPLOYEE_ID   FIRST_NAME   LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE
1           198       Donald    OConnell  DOCONNEL  650.507.9833  21-Jun-07
2           199      Douglas       Grant    DGRANT  650.507.9844  13-Jan-08
3           201      Michael   Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4           202          Pat         Fay      PFAY  603.123.6666  17-Aug-05
5           203        Susan      Mavris   SMAVRIS  515.123.7777   7-Jun-02
6           204      Hermann        Baer     HBAER  515.123.8888   7-Jun-02
7           206      William       Gietz    WGIETZ  515.123.8181   7-Jun-02
8           100       Steven        King     SKING  515.123.4567  17-Jun-03
9           101        Neena     Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
10          102          Lex     De Haan   LDEHAAN  515.123.4569  13-Jan-01
11          103    Alexander      Hunold   AHUNOLD  590.423.4567   3-Jan-06
12          104        Bruce       Ernst    BERNST  590.423.4568  21-May-07
13          106        Valli   Pataballa  VPATABAL  590.423.4560   5-Feb-06
14          107        Diana     Lorentz  DLORENTZ  590.423.5567   7-Feb-07
15          108        Nancy   Greenberg  NGREENBE  515.124.4569  17-Aug-02
16          109       Daniel      Faviet   DFAVIET  515.124.4169  16-Aug-02
17          110         John        Chen     JCHEN  515.124.4269  28-Sep-05
18          111       Ismael     Sciarra  ISCIARRA  515.124.4369  30-Sep-05
19          112  Jose Manuel       Urman   JMURMAN  515.124.4469   7-Mar-06
20          113         Luis        Popp     LPOPP  515.124.4567   7-Dec-07
21          114          Den    Raphaely  DRAPHEAL  515.127.4561   7-Dec-02
22          115    Alexander        Khoo     AKHOO  515.127.4562  18-May-03
23          116       Shelli       Baida    SBAIDA  515.127.4563  24-Dec-05
24          117        Sigal      Tobias   STOBIAS  515.127.4564  24-Jul-05
25          118          Guy      Himuro   GHIMURO  515.127.4565  15-Nov-06
26          119        Karen  Colmenares  KCOLMENA  515.127.4566  10-Aug-07
27          120      Matthew       Weiss    MWEISS  650.123.1234  18-Jul-04
28          121         Adam       Fripp    AFRIPP  650.123.2234  10-Apr-05
29          122        Payam    Kaufling  PKAUFLIN  650.123.3234   1-May-03
30          123       Shanta     Vollman  SVOLLMAN  650.123.4234  10-Oct-05
31          124        Kevin     Mourgos  KMOURGOS  650.123.5234  16-Nov-07
32          125        Julia       Nayer    JNAYER  650.124.1214  16-Jul-05
33          127        James      Landry   JLANDRY  650.124.1334  14-Jan-07
34          128       Steven      Markle   SMARKLE  650.124.1434   8-Mar-08
35          129        Laura      Bissot   LBISSOT  650.124.5234  20-Aug-05
36          130        Mozhe    Atkinson  MATKINSO  650.124.6234  30-Oct-05
37          131        James      Marlow   JAMRLOW  650.124.7234  16-Feb-05
38          132           TJ       Olson   TJOLSON  650.124.8234  10-Apr-07
39          133        Jason      Mallin   JMALLIN  650.127.1934  14-Jun-04
40          134      Michael      Rogers   MROGERS  650.127.1834  26-Aug-06
41          135           Ki         Gee      KGEE  650.127.1734  12-Dec-07
42          136        Hazel  Philtanker  HPHILTAN  650.127.1634   6-Feb-08
43          137       Renske      Ladwig   RLADWIG  650.121.1234  14-Jul-03
44          138      Stephen      Stiles   SSTILES  650.121.2034  26-Oct-05
45          139         John         Seo      JSEO  650.121.2019  12-Feb-06
46          140       Joshua       Patel    JPATEL  650.121.1834   6-Apr-06

            6       7               8           9              10
0       JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
1     SH_CLERK    2600              -          124             50
2     SH_CLERK    2600              -          124             50
3       MK_MAN   13000              -          100             20
4       MK_REP    6000              -          201             20
5       HR_REP    6500              -          101             40
6       PR_REP   10000              -          101             70
7   AC_ACCOUNT    8300              -          205            110
8      AD_PRES   24000              -           -              90
9        AD_VP   17000              -          100             90
10       AD_VP   17000              -          100             90
11     IT_PROG    9000              -          102             60
12     IT_PROG    6000              -          103             60
13     IT_PROG    4800              -          103             60
14     IT_PROG    4200              -          103             60
15      FI_MGR   12008              -          101            100
16  FI_ACCOUNT    9000              -          108            100
17  FI_ACCOUNT    8200              -          108            100
18  FI_ACCOUNT    7700              -          108            100
19  FI_ACCOUNT    7800              -          108            100
20  FI_ACCOUNT    6900              -          108            100
21      PU_MAN   11000              -          100             30
22    PU_CLERK    3100              -          114             30
23    PU_CLERK    2900              -          114             30
24    PU_CLERK    2800              -          114             30
25    PU_CLERK    2600              -          114             30
26    PU_CLERK    2500              -          114             30
27      ST_MAN    8000              -          100             50
28      ST_MAN    8200              -          100             50
29      ST_MAN    7900              -          100             50
30      ST_MAN    6500              -          100             50
31      ST_MAN    5800              -          100             50
32    ST_CLERK    3200              -          120             50
33    ST_CLERK    2400              -          120             50
34    ST_CLERK    2200              -          120             50
35    ST_CLERK    3300              -          121             50
36    ST_CLERK    2800              -          121             50
37    ST_CLERK    2500              -          121             50
38    ST_CLERK    2100              -          121             50
39    ST_CLERK    3300              -          122             50
40    ST_CLERK    2900              -          122             50
41    ST_CLERK    2400              -          122             50
42    ST_CLERK    2200              -          122             50
43    ST_CLERK    3600              -          123             50
44    ST_CLERK    3200              -          123             50
45    ST_CLERK    2700              -          123             50
46    ST_CLERK    2500              -          123             50

In [10]:
#### Part 2 : Load from and read to EXCEL file
#####  1 - Import pandas library.
import pandas as pd

##### 2 - Using ExcelFile, load "file1.xlsx" (available at the bottom of this page) into a dataframe.
file1=pd.ExcelFile("file1.xlsx")

In [11]:
##### 3 - Display the sheet names.
file1.sheet_names

['Sheet1']

In [12]:
##### 4 - Display Sheet1.
sheet1=file1.parse(sheet_name='Sheet1')
print(sheet1)

   Unnamed: 0     Name  Age  Height(ft)  Weight(kg) Sex
0           0     Dave   25         6.0          75   M
1           1    Betty   21         5.5          65   F
2           2  Abigail   24         5.3          58   F
3           3     Mike   22         5.8          70   M

In [21]:
### 5 - Display Sheet1 and specify the first column as the index column.
new_sheet1=file1.parse(sheet_name='Sheet1', index_col=0)
print(new_sheet1)

      Name  Age  Height(ft)  Weight(kg) Sex
0     Dave   25         6.0          75   M
1    Betty   21         5.5          65   F
2  Abigail   24         5.3          58   F
3     Mike   22         5.8          70   M

In [22]:
#### 6 - Display Sheet1 and skip the first and third columns.
new_sheet12=file1.parse(sheet_name='Sheet1', usecols=[1, 3, 4, 5])
print(new_sheet12)

      Name  Height(ft)  Weight(kg) Sex
0     Dave         6.0          75   M
1    Betty         5.5          65   F
2  Abigail         5.3          58   F
3     Mike         5.8          70   M

In [23]:
##### 7 -  Using ExcelWriter and to_excel, save to a new excel file named “file_sample” the following:
##############  xlsample2 to a sheet called “Sample1”.
##############   xlsample3 to a sheet called “Sample2”.
sheet2=sheet1.copy()
with pd.ExcelWriter('file_sample.xlsx') as writer:
    new_sheet1.to_excel(writer, sheet_name='Sample1')
    new_sheet12.to_excel(writer, sheet_name='Sample2')

In [24]:
##### Part 3 - Load from and read to JSON file
### 1 - Import pandas library.
import pandas as pd

##### 2 - Load "sample.json" (available at the bottom of this page) file data into a dataframe and print.
dfjson = pd.read_json('sample.json')
print(dfjson)

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [25]:
#### 3 - Create a dictionary with the details of one customer.
import json

with open('sample.json', 'r') as f:
    datadict = json.load(f)
print(datadict)

{'people': [{'firstName': 'Joe', 'lastName': 'Jackson', 'gender': 'male', 'age': 28, 'number': '7349282382'}, {'firstName': 'James', 'lastName': 'Smith', 'gender': 'male', 'age': 32, 'number': '5678568567'}, {'firstName': 'Emily', 'lastName': 'Jones', 'gender': 'female', 'age': 24, 'number': '456754675'}]}

In [27]:
### 4 - Convert to a dataframe.
df=pd.DataFrame(datadict)

In [28]:
#### 5 - Print as a Json string
print(df.to_json())

{"people":{"0":{"firstName":"Joe","lastName":"Jackson","gender":"male","age":28,"number":"7349282382"},"1":{"firstName":"James","lastName":"Smith","gender":"male","age":32,"number":"5678568567"},"2":{"firstName":"Emily","lastName":"Jones","gender":"female","age":24,"number":"456754675"}}}

In [30]:
#### 6 - Export as a Json file.
df.to_json('new_sample.json')