1 - Read and Display Data: .
*   Write a script to read the CSV file provided at the bottom of the page (assignment_sales_data.csv) and
*   display the data

In [10]:
import csv
# Open the CSV file
with open('assignment_sales_data.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    # Display the data
    for row in csv_reader:
        print(row)

['Date', 'Product', 'Sales', 'Customer_Age', 'Customer_Location', 'Payment_Method']
['2023-02-01', 'Laptop', '1200.0', '34.0', 'New York', 'Credit Card']
['2023-02-02', 'Smartphone', '800.0', '22.0', 'California', 'Paypal']
['2023-02-03', 'Tablet', '300.0', '', 'Texas', 'Credit Card']
['2023-02-04', 'Laptop', '1500.0', '31.0', 'Florida', 'Cash']
['2023-02-05', 'Smartphone', '750.0', '27.0', '', 'Paypal']
['2023-02-06', 'Tablet', '250.0', '36.0', 'California', '']
['2023-02-07', 'Laptop', '1100.0', '29.0', 'Texas', 'Cash']
['2023-02-08', 'Smartphone', '900.0', '41.0', 'Florida', 'Credit Card']
['2023-02-09', 'Tablet', '350.0', '28.0', 'New York', 'Paypal']
['2023-02-10', 'Laptop', '1300.0', '33.0', 'California', 'Cash']
['2023-02-11', 'Tablet', '300.0', '27.0', 'New York', 'Credit Card']
['2023-02-12', 'Laptop', '1200.0', '', 'Florida', 'Paypal']
['2023-02-13', 'Smartphone', '850.0', '35.0', 'Texas', 'Credit Card']
['2023-02-14', 'Tablet', '300.0', '45.0', 'New York', 'Paypal']
['2023-02-15', 'Laptop', '1500.0', '40.0', 'California', 'Cash']
['2023-02-16', 'Smartphone', '700.0', '50.0', 'Florida', 'Credit Card']
['2023-02-17', 'Tablet', '250.0', '38.0', 'Texas', 'Paypal']
['2023-02-18', 'Laptop', '1200.0', '30.0', 'New York', 'Cash']
['2023-02-19', 'Smartphone', '950.0', '34.0', 'California', 'Paypal']
['2023-02-20', 'Tablet', '300.0', '29.0', 'Texas', 'Credit Card']
['2023-02-21', 'Laptop', '1500.0', '42.0', 'Florida', 'Paypal']
['2023-02-22', 'Smartphone', '850.0', '37.0', 'California', 'Cash']
['2023-02-23', 'Tablet', '350.0', '45.0', 'New York', 'Paypal']
['2023-02-24', 'Laptop', '1300.0', '39.0', 'Texas', 'Credit Card']
['2023-02-25', 'Smartphone', '900.0', '41.0', 'Florida', 'Paypal']
['2023-02-26', 'Tablet', '250.0', '36.0', 'California', 'Cash']
['2023-02-27', 'Laptop', '1100.0', '29.0', 'New York', 'Credit Card']
['2023-02-28', 'Smartphone', '800.0', '22.0', 'Texas', 'Paypal']

2 - Data Extraction and Cleaning:

*   Handle missing values in the `Customer_Age` and 'Customer_Location' columns by filling them with the average age and a placeholder 'Unknown' respectively.

In [11]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('assignment_sales_data.csv')
# Fill missing values
df.fillna({'Customer_Location': 'Unknown', 'Customer_Age': df['Customer_Age'].mean()}, inplace=True)
# Correct formatting issues (example: standardize customer location names)
df['Customer_Location'] = df['Customer_Location'].str.title()
print(df)

          Date     Product   Sales  Customer_Age Customer_Location  \
0   2023-02-01      Laptop  1200.0     34.000000          New York
1   2023-02-02  Smartphone   800.0     22.000000        California
2   2023-02-03      Tablet   300.0     34.615385             Texas
3   2023-02-04      Laptop  1500.0     31.000000           Florida
4   2023-02-05  Smartphone   750.0     27.000000           Unknown
5   2023-02-06      Tablet   250.0     36.000000        California
6   2023-02-07      Laptop  1100.0     29.000000             Texas
7   2023-02-08  Smartphone   900.0     41.000000           Florida
8   2023-02-09      Tablet   350.0     28.000000          New York
9   2023-02-10      Laptop  1300.0     33.000000        California
10  2023-02-11      Tablet   300.0     27.000000          New York
11  2023-02-12      Laptop  1200.0     34.615385           Florida
12  2023-02-13  Smartphone   850.0     35.000000             Texas
13  2023-02-14      Tablet   300.0     45.000000          New York
14  2023-02-15      Laptop  1500.0     40.000000        California
15  2023-02-16  Smartphone   700.0     50.000000           Florida
16  2023-02-17      Tablet   250.0     38.000000             Texas
17  2023-02-18      Laptop  1200.0     30.000000          New York
18  2023-02-19  Smartphone   950.0     34.000000        California
19  2023-02-20      Tablet   300.0     29.000000             Texas
20  2023-02-21      Laptop  1500.0     42.000000           Florida
21  2023-02-22  Smartphone   850.0     37.000000        California
22  2023-02-23      Tablet   350.0     45.000000          New York
23  2023-02-24      Laptop  1300.0     39.000000             Texas
24  2023-02-25  Smartphone   900.0     41.000000           Florida
25  2023-02-26      Tablet   250.0     36.000000        California
26  2023-02-27      Laptop  1100.0     29.000000          New York
27  2023-02-28  Smartphone   800.0     22.000000             Texas

   Payment_Method
0     Credit Card
1          Paypal
2     Credit Card
3            Cash
4          Paypal
5             NaN
6            Cash
7     Credit Card
8          Paypal
9            Cash
10    Credit Card
11         Paypal
12    Credit Card
13         Paypal
14           Cash
15    Credit Card
16         Paypal
17           Cash
18         Paypal
19    Credit Card
20         Paypal
21           Cash
22         Paypal
23    Credit Card
24         Paypal
25           Cash
26    Credit Card
27         Paypal

*   Calculate total sales.
*   Calculate the average customer age

In [15]:
import csv
total_sales = 0
total_age = 0
customer_count = 0
with open('assignment_sales_data.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row
    for row in csv_reader:
        sales = float(row[2])

        if row[3].strip():
            age = int(float(row[3]))
            total_age += age
        total_sales += sales
        customer_count += 1
average_age = total_age / customer_count
print(f"Total Sales: ${total_sales}")
print(f"Average Customer Age: {average_age}")

Total Sales: $23050.0
Average Customer Age: 32.142857142857146

5 - Advanced Data Analysis with Pandas:


*   Group data by product and calculate total sales per product.

*   Identify and list all unique payment methods used.

In [20]:
import pandas as pd
# Load the CSV file
df = pd.read_csv('assignment_sales_data.csv')

# Group by product and calculate total sales
product_sales = df.groupby('Product')['Sales'].sum()
print("Total Sales by Product:")
print(product_sales)

print("========================================================================")
# Identify and list all unique payment methods used.
unique_payment_methods = df['Payment_Method'].dropna().unique()
print("Unique Payment Methods:")
print(unique_payment_methods)

Total Sales by Product:
Product
Laptop        12900.0
Smartphone     7500.0
Tablet         2650.0
Name: Sales, dtype: float64
========================================================================
Unique Payment Methods:
['Credit Card' 'Paypal' 'Cash']

4 - Generate a Summary Report:
    Create a summary report in a text file or Word document that includes:
*   Total sales
*   Average customer age
*   Total sales by product
*   List of unique payment methods

In [22]:
with open('SedrickASS21_IETL_summary_report.txt', 'w') as report:
    report.write("===== SALES SUMMARY REPORT =====\n\n")
    report.write(f"Total Sales: ${total_sales:.2f}\n")
    report.write(f"Average Customer Age: {average_age:.2f}\n\n")

    report.write("Total Sales by Product:\n")
    for product, sales in product_sales.items():
        report.write(f" - {product}: ${sales:.2f}\n")

    report.write("\nUnique Payment Methods:\n")
    for method in unique_payment_methods:
        report.write(f" - {method}\n")

print("Summary report generated: SedrickASS21_IETL_summary_report.txt")

Summary report generated: SedrickASS21_IETL_summary_report.txt