1 - Write code to parse data from the provided CSV file.

In [3]:
import csv

# Parse CSV data
with open('data.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    header = next(csv_reader)
    print(f"{header[0]:<16} {header[1]:<5} {header[2]:<12}")
    for row in csv_reader:
        print(f"{row[0]:<16} {row[1]:<5} {row[2]:<12}")

Name             Age   City
John Doe         30    New York
Jane Smith       25    Los Angeles
Emily Johnson    22    Chicago
Michael Brown    35    Houston

2 - Write code to parse data from the provided JSON file.

In [5]:
import json

# Parse JSON data
with open('data.json', mode='r') as file:
    data = json.load(file)

# Display parsed data
print(f"{'Name':<16} {'Age':<5} {'City':<12}")
for employee in data['employees']:
    print(f"{employee['name']:<16} {employee['age']:<5} {employee['city']:<12}")

Name             Age   City
John Doe         30    New York
Jane Smith       25    Los Angeles
Emily Johnson    22    Chicago
Michael Brown    35    Houston

3- Write code to parse data from the provided XML file.

In [12]:
import xml.etree.ElementTree as ET

# Parse XML data
tree = ET.parse('data.xml')
root = tree.getroot()

# Display parsed data
print(f"{'Name':<16} {'Age':<5} {'City':<12}")
for employee in root.findall('employee'):
    name = employee.find('name').text
    age = employee.find('age').text
    city = employee.find('city').text
    print(f"{name:<16} {age:<5} {city:<12}")

Name             Age   City
John Doe         30    New York
Jane Smith       25    Los Angeles
Emily Johnson    22    Chicago
Michael Brown    35    Houston

4 - Extract specific information from each dataset and display it in a readable format.
*  Extract the names and ages of employees older than 25
*   Display the extracted information in a readable format


*  CSV

In [13]:
import csv

with open('data.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    header = next(csv_reader)
    print("Employees older than 25:")
    for row in csv_reader:
        if int(row[1]) > 25:
            print(f"Name: {row[0]}, Age: {row[1]}")

Employees older than 25:
Name: John Doe, Age: 30
Name: Michael Brown, Age: 35


*   JSON

In [14]:
import json

with open('data.json', mode='r') as file:
    data = json.load(file)
print("Employees older than 25:")
for employee in data['employees']:
    if employee['age'] > 25:
        print(f"Name: {employee['name']}, Age: {employee['age']}")

Employees older than 25:
Name: John Doe, Age: 30
Name: Michael Brown, Age: 35


*   XML

In [15]:
import xml.etree.ElementTree as ET

tree = ET.parse('data.xml')
root = tree.getroot()

print("Employees older than 25:")
for employee in root.findall('employee'):
    age = int(employee.find('age').text)
    if age > 25:
        name = employee.find('name').text
        print(f"Name: {name}, Age: {age}")

Employees older than 25:
Name: John Doe, Age: 30
Name: Michael Brown, Age: 35