In [53]:
### Task 2 : Work with SQLite3.
## import libraries
import pandas as pd
import sqlite3

### Create a connection. Create a cursor object.

# Create a connection
conn = sqlite3.connect('Store.db')

# Create a cursor object
cur = conn.cursor()

In [54]:
### 2 - Load tables: Product and Aisle
# Load Product table into a DataFrame
Product = pd.read_sql('SELECT * FROM Product', conn)

# Load Aisle table into a DataFrame
Aisle = pd.read_sql('SELECT * FROM aisle', conn)

# Print dataframe
print("\nWe display the Product table:\n")
print(Product)
print("\nWe display the Aisle table:\n")
print(Aisle)

We display the Product table:

   Product_Id Product_Name  Price Aisle_Id
0           1        Apple      1       A1
1           2        Bread      2       A2
2           3         Milk      3       A3
3           4         Eggs      4       A1
4           5        Juice      5       A2
5           6       Cereal      6       A4

We display the Aisle table:

  Aisle_Id       Aisle_Name  Product_Id
0       A1           Fruits           1
1       A2           Bakery           2
2       A3            Dairy           3
3       A4  Cereal & Grains           6

In [55]:
#### 3 - Join tables:
#‘Product’ and ‘Aisle’ using Aisle_Id column in both tables.
#Select from Product table (columns – Product_Id, Product_Name , Price) and
#from Aisle table (columns – Aisle_Id, Aisle_Name) in the resulting query.

sql = '''
SELECT p.Product_Id,
       p.Product_Name,
       p.Price,
       p.Aisle_Id,
       a.Aisle_Id,
       a.Aisle_Name
FROM Product p
INNER JOIN Aisle a
ON p.Aisle_Id = a.Aisle_Id;
'''

In [56]:
### - Query database to get query and load into a Python object.
#Executing the query
cur.execute(sql)


#Fetching 1st row from the table
results = cur.fetchall()

In [57]:
#### 2. 4 - Saving query result into a DataFrame.
columns = ['Product_Id', 'Product_Name', 'Price', 'Product_Aisle_Id', 'Aisle_Id', 'Aisle_Name']
df = pd.DataFrame(results, columns=columns)
print(df)

   Product_Id Product_Name  Price Product_Aisle_Id Aisle_Id       Aisle_Name
0           1        Apple      1               A1       A1           Fruits
1           2        Bread      2               A2       A2           Bakery
2           3         Milk      3               A3       A3            Dairy
3           4         Eggs      4               A1       A1           Fruits
4           5        Juice      5               A2       A2           Bakery
5           6       Cereal      6               A4       A4  Cereal & Grains

In [58]:
#### 2.5 - Export DataFrame to a CSV file named “Product_Aisle.csv”
df.to_csv('Product_Aisle.csv', index=False)

In [59]:
#### - close connection
conn.close()