In [20]:
#### Task 3 : 1 - Work with SQLAlchemy.

#import libraries
import pandas as pd
import sqlalchemy as db

#Create engine to store Store.db
engine = db.create_engine('sqlite:///Store.db')
connection = engine.connect()

In [21]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['Aisle', 'Order', 'Product']

In [23]:
#### 3.2 - Load tables: Order and Product
metadata = db.MetaData()
order = db.Table('Order', metadata, autoload_with=engine)
product = db.Table('Product', metadata, autoload_with=engine)

####  Query the tables using SQLAlchemy (Select all records)
query_order = db.select(order)
query_product = db.select(product)

In [24]:
### 3.3 Join tables:
#‘Order’ and ‘Product’ using Product_Id column in both tables.
#Select from Orders table (columns - Order_Id, Customer_Name Amount) and
#from Product table (columns - Product_Id, Product_Name ) in the resulting query.
sql = '''
SELECT o.Order_Id, o.Customer_Name, o.Amount,
       p.Product_Id,
       p.Product_Name
FROM "Order" o
INNER JOIN Product p
ON o.Product_Id = p.Product_Id;
'''

In [25]:
#### 3.4 - Saving query result into a DataFrame.
df = pd.read_sql(sql, connection)
print(df.head())

   Order_Id Customer_Name  Amount  Product_Id Product_Name
0       101         Alice       2           1        Apple
1       102           Bob       1           2        Bread
2       103       Charlie       3           3         Milk
3       104         David       1           1        Apple
4       105          Ella       2           5        Juice

In [26]:
#### 3.5 - Export DataFrame to a CSV file named “Order_Product.csv”
df.to_csv('Order_Product.csv', index=False)