# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:
#We define the a dictionnary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
#Create a dataframe with the above created dictionnary
df = pd.DataFrame(data)
#Display the dataframe
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [2]:
# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1

# Your code here:
df_dropped = df.drop('City', axis=1)
print(df_dropped) #Display the new dataframe without the "City" column

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

In [10]:
# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:
data_null = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', np.nan],
    'Age': [25, 30, 35, 28, np.nan],
    'City': [np.nan,'Morocco','Dubai','Newdeli',np.nan]}

df_withNull = pd.DataFrame(data_null)
#Filling of the null values
df_withNull['Name'].fillna('PAPI', inplace=True)
df_withNull['Age'] = df_withNull['Age'].fillna(df_withNull['Age'].mean())
df_withNull['City'].fillna('Toronto', inplace=True)
print(df_withNull)

      Name   Age     City
0    Alice  25.0  Toronto
1      Bob  30.0  Morocco
2  Charlie  35.0    Dubai
3    David  28.0  Newdeli
4     PAPI  29.5  Toronto

/tmp/ipython-input-4220031518.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_withNull['Name'].fillna('PAPI', inplace=True)
/tmp/ipython-input-4220031518.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_withNull['City'].fillna('Toronto', inplace=True)

In [11]:
# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})

# Your code here:
df_group.groupby('Category')['Value'].describe()

          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0

In [12]:
# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

# Your code here:
print("\nConcatenation\n")
df_concat = pd.concat([df1, df2], axis=0)
print(df_concat)
print("\n")


print("\nMerging\n")
df_merge = pd.concat([df1, df3], axis=1)
print(df_merge)

Concatenation

   A  B
0  1  3
1  2  4
0  5  7
1  6  8



Merging

   A  B   C   D
0  1  3   9  11
1  2  4  10  12

In [17]:
# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:
#Tuple of fruits
Fruit = ('Banana', 'Mango','Pineaple','Orange')

Fruit = Fruit + ('Apple',)
print("The tuple of fruits after adding \'Apple\': ", Fruit)

#Set of numbers
S={2,5,7,6,9}
S.add(10)
print("The set of numbers after adding \'10\': ", S)

The tuple of fruits after adding 'Apple':  ('Banana', 'Mango', 'Pineaple', 'Orange', 'Apple')
The set of numbers after adding '10':  {2, 5, 6, 7, 9, 10}

In [19]:
# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:
Students= {
    'Name' : ['Bob','Harry','John','Peter'],
    'Scores': [7,15,11,8]
}
#updates John score
Students['Scores'][2] +=2
#add new student 'Jack' with his score
Students['Name'].append('Jack')
Students['Scores'].append(10)
#Display the new dictionnary
print(Students)

{'Name': ['Bob', 'Harry', 'John', 'Peter', 'Jack'], 'Scores': [7, 15, 13, 8, 10]}

In [21]:
# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:
#function for square
def square(n):
  return n**2

Lambda_square = lambda n: n**2

print("The square of 5 using define function is: ", square(5))
print("The square of 6 using the Lambda function is: ", Lambda_square(6))

The square of 5 using define function is:  25
The square of 6 using the Lambda function is:  36

In [22]:
# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:
# Iterator for the first 5 even numbers
class EvenIterator:
    def __init__(self):
        self.num = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.num < 10:
            even = self.num
            self.num += 2
            return even
        else:
            raise StopIteration

# Test iterator
print("\n Here is the result for iterator\n")

for n in EvenIterator():
    print(n)


# Generator for the first 5 even numbers
def even_generator():
    for n in range(0, 10, 2):
        yield n

# Test generator
print("\n Here is the result for Generator\n")
for n in even_generator():
    print(n)

 Here is the result for iterator

0
2
4
6
8

 Here is the result for Generator

0
2
4
6
8

In [23]:
# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]

# Your code here:
from functools import reduce

def multi_num(a,b):
    return a*b


print("Map:", list(map(lambda x:x**2, numbers)))  # map() applies a function to each element in an iterable (like a list).
print("Filter:", list(filter(lambda x:x%2==0, numbers)))
print("Reduce:", reduce(multi_num, numbers))

Map: [1, 4, 9, 16, 25]
Filter: [2, 4]
Reduce: 120

In [26]:
# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def perimeter(self):
        return 2*(self.length + self.width)

    def area(self):
        return self.length * self.width

    def __str__(self):
        return f"length {self.length} and width {self.width}"

alec = Rectangle(35, 15)
print("This rectangle has", alec)
print("The perimeter is", alec.perimeter())
print("The area is", alec.area())

This rectangle has length 35 and width 15
The perimeter is 100
The area is 525

In [27]:
# Python and Pandas Assessment Notebook

# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

# Your code here:
# 1 - Find the average salary by department
avg_salary = df_employees.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:\n", avg_salary)

#2 - Get the names of employees with salary > 60000
print("\nEmployees with salary > 60000:\n", df_employees[df_employees['Salary'] > 60000]['Name'])

#3 - Add a new column 'Bonus' which is 10% of salary
df_employees['Bonus'] = df_employees['Salary'] * 0.1
print("\nNew DataFrame with Bonus column:\n", df_employees)

Average salary by department:
 Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64

Employees with salary > 60000:
 1    Jane
2     Bob
Name: Name, dtype: object

New DataFrame with Bonus column:
       Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
!git init
!git config --global user.name "Sedkameni"
!git config --global user.email "sedrick.kameni@gmail.com"

Reinitialized existing Git repository in /content/.git/

In [13]:
!git clone https://github.com/Sedkameni/colab-activyPractice-3.git

fatal: destination path 'colab-activyPractice-3' already exists and is not an empty directory.

In [14]:
!cd colab-activyPractice-3/

In [15]:
cd "/content/drive/MyDrive/Colab Notebooks/"

/content/drive/MyDrive/Colab Notebooks

In [16]:
cp "/content/drive/MyDrive/Colab Notebooks/Sedrick_Lesson4assignment.ipynb" /content/colab-activyPractice-3/

In [10]:
!mkdir -p /content/colab-activyPractice-3/
!cp "/content/drive/MyDrive/Colab Notebooks/Sedrick_Lesson4assignment.ipynb" /content/colab-activyPractice-3/

cp: cannot stat '/content/drive/MyDrive/Colab Notebooks/Sedrick_Lesson4assignment.ipynb': No such file or directory

In [4]:
!cd cd "/content/drive/MyDrive/Colab Notebooks/"

/bin/bash: line 1: cd: too many arguments

In [ ]:

!git remote -v
!git remote set-url origin https://github.com/Sedkameni/colab-activyPractice-3.git
!git add Sedrick_Lesson4assignment.ipynb
!git commit -m "Commit 1: Fundamentals of Python"