1 - Write code to parse data from the provided CSV file.

In [12]:
# Open the CSV file in read mode
with open('assdata.csv', mode='r') as file:
    csv_reader = csv.reader(file)   # Create a CSV reader object

    header = next(csv_reader)   # Read the first row as the header

    # Print header columns with fixed-width formatting for alignment
    print(f"{header[0]:<16} {header[1]:<5} {header[2]:<12}")

    # Loop through each row in the CSV and print formatted output
    for row in csv_reader:
        print(f"{row[0]:<16} {row[1]:<5} {row[2]:<12}")

Name             Age   City
Alice Walker     28    Boston
David Miller     23    Denver
Emma Wilson      33    San Francisco
Lucas Martinez   41    Miami

2 - Write code to parse data from the provided JSON file.

In [7]:
import json   # Import the built-in json library for working with JSON data

# Open the JSON file in read mode
with open('assdata.json', mode='r') as file:
    data = json.load(file)   # Load and parse the JSON data into a Python dictionary

# Print header row with fixed-width formatting for alignment
print(f"{'Name':<16} {'Age':<5} {'City':<12}")

# Loop through each employee in the JSON data and print their details
for employee in data['employees']:
    print(f"{employee['name']:<16} {employee['age']:<5} {employee['city']:<12}")

Name             Age   City
Alice Walker     28    Boston
David Miller     23    Denver
Emma Wilson      33    San Francisco
Lucas Martinez   41    Miami

3- Write code to parse data from the provided XML file.

In [8]:
import xml.etree.ElementTree as ET   # Import ElementTree for parsing XML data

# Parse the XML file and get the root element
tree = ET.parse('assdata.xml')   # Load and parse the XML file
root = tree.getroot()            # Get the root of the XML tree

# Print header row with fixed-width formatting for alignment
print(f"{'Name':<16} {'Age':<5} {'City':<12}")

# Loop through each 'employee' element in the XML
for employee in root.findall('employee'):
    name = employee.find('name').text   # Extract the 'name' element text
    age = employee.find('age').text     # Extract the 'age' element text
    city = employee.find('city').text   # Extract the 'city' element text

    # Print extracted values in aligned table format
    print(f"{name:<16} {age:<5} {city:<12}")

Name             Age   City
Alice Walker     28    Boston
David Miller     23    Denver
Emma Wilson      33    San Francisco
Lucas Martinez   41    Miami

4 - Extract specific information from each dataset and display it in a readable format.
*  Extract the names and ages of employees younger than 45.
*   Display the extracted information in a readable format.


*  CSV

In [9]:
import csv   # Import the built-in csv library for parsing CSV files

# Open the CSV file in read mode
with open('assdata.csv', mode='r') as file:
    csv_reader = csv.reader(file)   # Create a CSV reader object

    header = next(csv_reader)   # Skip the header row

    print("Employees younger than 45:")   # Title for the output

    # Loop through each row in the CSV file
    for row in csv_reader:
        # Convert the age column (row[1]) to an integer and check if it is less than 45
        if int(row[1]) < 45:
            # Print the name and age of employees younger than 45
            print(f"Name: {row[0]}, Age: {row[1]}")

Employees younger than 45:
Name: Alice Walker, Age: 28
Name: David Miller, Age: 23
Name: Emma Wilson, Age: 33
Name: Lucas Martinez, Age: 41


*   JSON

In [10]:
import json   # Import the built-in json library for parsing JSON files

# Open the JSON file in read mode
with open('assdata.json', mode='r') as file:
    data = json.load(file)   # Load and parse JSON data into a Python dictionary

print("Employees younger than 45:")   # Title for the output

# Loop through each employee in the JSON data
for employee in data['employees']:
    # Check if the employee's age is less than 45
    if employee['age'] < 45:
        # Print the employee's name and age
        print(f"Name: {employee['name']}, Age: {employee['age']}")

Employees younger than 45:
Name: Alice Walker, Age: 28
Name: David Miller, Age: 23
Name: Emma Wilson, Age: 33
Name: Lucas Martinez, Age: 41


*   XML

In [11]:
import xml.etree.ElementTree as ET   # Import the ElementTree library for parsing XML data

# Parse the XML file and get the root element
tree = ET.parse('assdata.xml')
root = tree.getroot()

print("Employees younger than 45:")   # Title for the output

# Loop through each <employee> element in the XML
for employee in root.findall('employee'):
    age = int(employee.find('age').text)   # Extract age and convert to integer

    # Check if the employee's age is less than 45
    if age < 45:
        name = employee.find('name').text   # Extract the employee's name
        # Print the employee's name and age
        print(f"Name: {name}, Age: {age}")

Employees younger than 45:
Name: Alice Walker, Age: 28
Name: David Miller, Age: 23
Name: Emma Wilson, Age: 33
Name: Lucas Martinez, Age: 41