In [ ]:
import pandas as pd
## - Import "Grocery.csv"
grocery = pd.read_csv('Grocery.csv')
print("The five first row of the dataset are:\n", grocery.head())

The five first row of the dataset are:
   TransactionID CustomerID Transaction_Status        Item   Price  Quantity
0         T0001       C036     not successful  Headphones   150.0       3.0
1         T0002       C037     not successful  Smartphone   800.0       3.0
2         T0003       C085     not successful      Laptop  1200.0       5.0
3         T0004       C063         successful     Monitor   300.0       1.0
4         T0005       C035         successful      Laptop  1200.0       2.0

In [ ]:
### - Find all the duplicates rows.
print("The rows of the dataset with duplicates are:\n", grocery.duplicated())
## - Find the number of duplicate rows.
print("\nThe number of duplicates rows is:", grocery.duplicated().sum())

The rows of the dataset with duplicates are:
 0      False
1      False
2      False
3      False
4      False
       ...
525     True
526     True
527     True
528     True
529     True
Length: 530, dtype: bool

The number of duplicates rows is: 30

In [ ]:
## - Select duplicates rows based on TransactionID column.
grocery1 = grocery[grocery.duplicated('TransactionID')]
print("\nThe rows of the dataset with duplicates are:\n", grocery1)

The rows of the dataset with duplicates are:
     TransactionID CustomerID Transaction_Status        Item   Price  Quantity
500         T0049       C073     not successful     Monitor   300.0       2.0
501         T0320       C045         successful       Mouse    30.0       3.0
502         T0351       C012     not successful     Monitor   300.0       5.0
503         T0225       C063     not successful     Monitor   300.0       1.0
504         T0426       C012     not successful     Monitor   300.0       4.0
505         T0172       C004         successful    Keyboard    60.0       5.0
506         T0332       C011     not successful      Laptop  1200.0       5.0
507         T0343       C076     not successful      Laptop  1200.0       3.0
508         T0167       C096         successful     Printer   200.0       5.0
509         T0370       C048     not successful       Mouse    30.0       4.0
510         T0277       C029         successful    Keyboard    60.0       5.0
511         T0014       C010     not successful  Smartphone   800.0       2.0
512         T0358       C040         successful  Smartphone   800.0       2.0
513         T0009       C046         successful    Keyboard     NaN       5.0
514         T0117       C037         successful    Keyboard    60.0       2.0
515         T0152       C071     not successful       Mouse    30.0       3.0
516         T0010       C094     not successful     Monitor   300.0       4.0
517         T0314       C021         successful  Headphones   150.0       5.0
518         T0175       C055     not successful  Headphones   150.0       NaN
519         T0209       C065         successful  Headphones   150.0       4.0
520         T0133       C070         successful     Printer   200.0       4.0
521         T0057       C012         successful     Printer   200.0       4.0
522         T0003       C085     not successful      Laptop  1200.0       5.0
523         T0078       C083     not successful       Mouse    30.0       5.0
524         T0199       C076     not successful     Monitor   300.0       3.0
525         T0138       C034     not successful     Printer   200.0       3.0
526         T0161       C034     not successful  Headphones   150.0       2.0
527         T0497       C082         successful    Keyboard    60.0       5.0
528         T0074       C011         successful      Laptop  1200.0       1.0
529         T0132       C036         successful  Smartphone   800.0       2.0

In [ ]:
## - Drop duplicate rows.
grocery.drop_duplicates(inplace = True)

In [ ]:
## - Verify duplicates are dropped.
print('\nDuplicates still present = ', grocery.duplicated().any())
print("\nThe number of duplicates rows is:", grocery.duplicated().sum())

Duplicates still present =  False

The number of duplicates rows is: 0