In [1]:
### Part 1 - Copy these lines of code into your Python file
### - Load the Airbnb New York City Listings dataset using Pandas.
import pandas as pd
df = pd.read_csv("AB_NYC_2019.csv")

###Display the first few rows and describe its basic statistics.
print("\nWe display the first few rows here:\n", df.head())
print("\nWe display the basic statistics here:\n", df.describe)

We display the first few rows here:
      id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

We display the basic statistics here:
 <bound method NDFrame.describe of              id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]>

In [8]:
#### Part 2 - Data Reshaping in Pandas:
### 2.1 - Pivoting: Create a pivot table showing the average price for each room type in each neighborhood group.
pivot_table = df.pivot_table(values='price', index='room_type', columns='neighbourhood', aggfunc='mean')
print(pivot_table)

neighbourhood      Allerton  Arden Heights    Arrochar     Arverne  \
room_type
Entire home/apt  123.062500           76.0  189.700000  224.625000
Private room      65.769231           41.0   47.090909   87.740741
Shared room             NaN            NaN         NaN   38.000000

neighbourhood       Astoria  Bath Beach  Battery Park City   Bay Ridge  \
room_type
Entire home/apt  142.199475  118.142857         488.541667  216.757143
Private room      96.178138   56.300000         105.904762   74.630769
Shared room      151.160000         NaN          55.000000   56.833333

neighbourhood    Bay Terrace  Bay Terrace, Staten Island  ...  Westerleigh  \
room_type                                                 ...
Entire home/apt   210.333333                       102.5  ...        103.0
Private room       94.500000                         NaN  ...         40.0
Shared room        32.000000                         NaN  ...          NaN

neighbourhood    Whitestone  Williamsbridge  Williamsburg  Willowbrook  \
room_type
Entire home/apt  263.333333      148.315789    206.094130        249.0
Private room      49.125000       50.095238     85.761142          NaN
Shared room             NaN             NaN     84.937500          NaN

neighbourhood    Windsor Terrace   Woodhaven   Woodlawn  Woodrow    Woodside
room_type
Entire home/apt       165.147826  114.100000  65.500000    700.0  148.714286
Private room           67.380952   53.939394  54.833333      NaN   61.777778
Shared room                  NaN   34.500000  70.000000      NaN   65.000000

[3 rows x 221 columns]

/tmp/ipython-input-2030362826.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(values='price', index='room_type', columns='neighbourhood', aggfunc='mean')

In [9]:
#### 2.2 - Melting: Melt the pivot table back to long format.
melted_table = pivot_table.reset_index().melt(id_vars='room_type', value_vars=pivot_table.columns)
print(melted_table)

           room_type  neighbourhood       value
0    Entire home/apt       Allerton  123.062500
1       Private room       Allerton   65.769231
2        Shared room       Allerton         NaN
3    Entire home/apt  Arden Heights   76.000000
4       Private room  Arden Heights   41.000000
..               ...            ...         ...
658     Private room        Woodrow         NaN
659      Shared room        Woodrow         NaN
660  Entire home/apt       Woodside  148.714286
661     Private room       Woodside   61.777778
662      Shared room       Woodside   65.000000

[663 rows x 3 columns]

In [10]:
### 2.3 - Stacking: Stack the dataframe and convert it to a multi-index series.
stacked_df = pivot_table.stack()
print(stacked_df)

room_type        neighbourhood
Entire home/apt  Allerton         123.062500
                 Arden Heights     76.000000
                 Arrochar         189.700000
                 Arverne          224.625000
                 Astoria          142.199475
                                     ...
Shared room      West Village     180.000000
                 Williamsburg      84.937500
                 Woodhaven         34.500000
                 Woodlawn          70.000000
                 Woodside          65.000000
Length: 540, dtype: float64

In [11]:
### 2.4 - Unstacking: Unstack the multi-index series back to a dataframe.
unstacked_df = stacked_df.unstack()
print(unstacked_df)

neighbourhood      Allerton  Arden Heights    Arrochar     Arverne  \
room_type
Entire home/apt  123.062500           76.0  189.700000  224.625000
Private room      65.769231           41.0   47.090909   87.740741
Shared room             NaN            NaN         NaN   38.000000

neighbourhood       Astoria  Bath Beach  Battery Park City   Bay Ridge  \
room_type
Entire home/apt  142.199475  118.142857         488.541667  216.757143
Private room      96.178138   56.300000         105.904762   74.630769
Shared room      151.160000         NaN          55.000000   56.833333

neighbourhood    Bay Terrace  Bay Terrace, Staten Island  ...  Westerleigh  \
room_type                                                 ...
Entire home/apt   210.333333                       102.5  ...        103.0
Private room       94.500000                         NaN  ...         40.0
Shared room        32.000000                         NaN  ...          NaN

neighbourhood    Whitestone  Williamsbridge  Williamsburg  Willowbrook  \
room_type
Entire home/apt  263.333333      148.315789    206.094130        249.0
Private room      49.125000       50.095238     85.761142          NaN
Shared room             NaN             NaN     84.937500          NaN

neighbourhood    Windsor Terrace   Woodhaven   Woodlawn  Woodrow    Woodside
room_type
Entire home/apt       165.147826  114.100000  65.500000    700.0  148.714286
Private room           67.380952   53.939394  54.833333      NaN   61.777778
Shared room                  NaN   34.500000  70.000000      NaN   65.000000

[3 rows x 221 columns]

In [6]:
### Part 3 - Categorical Extension Type in Pandas
## 3.1 - Convert the room_type column to a categorical data type using the Categorical constructor.
df['room_type'] = pd.Categorical(df['room_type'])
print(df['room_type'].dtype)

category

In [7]:
 ### 3.2 - Use the astype('category') method to convert the neighbourhood_group column to a categorical data type.
 df['neighbourhood_group'] = df['neighbourhood_group'].astype('category')
 print(df['neighbourhood_group'].dtype)

category

In [13]:
### Part 4 - Using the cat Attribute
###### 4.1 -  Use the cat.codes attribute to view the category codes for the room_type column.
print("The category codes for room type column is:")
print(df["room_type"].cat.codes)

The category codes for room type column is:
0        1
1        0
2        1
3        0
4        0
        ..
48890    1
48891    1
48892    0
48893    2
48894    1
Length: 48895, dtype: int8

In [14]:
### 4.2 - Use the cat.categories attribute to view the categories of the neighbourhood_group column.
print("The categories for neighbourhood group column is:")
print(df["neighbourhood_group"].cat.categories)

The categories for neighbourhood group column is:
Index(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'], dtype='object')

In [15]:
### 4.3 - Add a new category to the room_type column using cat.add_categories.
df["room_type"] = df["room_type"].cat.add_categories("Shared Room")
print(df["room_type"].cat.categories)

Index(['Entire home/apt', 'Private room', 'Shared room', 'Shared Room'], dtype='object')

In [16]:
#### 4.4 - Remove unused categories from the room_type column using cat.remove_unused_categories.
df["room_type"] = df["room_type"].cat.remove_unused_categories()
print(df["room_type"].cat.categories)

Index(['Entire home/apt', 'Private room', 'Shared room'], dtype='object')

In [17]:
#### 4.5 - Set new categories for the neighbourhood_group column using cat.set_categories.
new_categories = ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Other']
df["neighbourhood_group"] = df["neighbourhood_group"].cat.set_categories(new_categories)
print(df["neighbourhood_group"].cat.categories)

Index(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Other'], dtype='object')

In [18]:
##### Part 5 - Computations with Categoricals
##### 5.1 - Use the value_counts method to count the occurrences of each room type.
print("\nThen number of occurence of each room type is:\n", df["room_type"].value_counts())

Then number of occurence of each room type is:
 room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [20]:
##### 5.2 - Find the mode of the room_type column.
print("\nThe mode of room type is:\n", df["room_type"].mode()[0])

The mode of room type is:
 Entire home/apt

In [21]:
#### 5.3 - Use the sort_values method to sort the dataframe by the neighbourhood_group column.
print("\nThe dataframe sorted by neighbourhood group is:\n", df.sort_values(by="neighbourhood_group"))

The dataframe sorted by neighbourhood group is:
              id                                               name    host_id  \
7704    5824543  Private room for 2 (10 min to city) - Females ...   30232055
45457  34756976                                        Gigiâ€™s Room   74633496
32797  25833266             Huge private & cozy room in the Bronx!  194102474
24924  19974905                                     Esteem's Place  141615596
32784  25816034     Bronx 2 Bedroom with View of Manhattan Skyline  179677211
...         ...                                                ...        ...
23460  18997371                                       Cozy Getaway   90104417
43687  33804180  Cozy farmhouse in NYC. 2 bdrms; 2 full baths. ...  163169045
45774  34945914                              "Dave's Island Suite"  258232863
10874   8387338                  Private Room Available in 2BedApt   44195923
19778  15833574                       Delightful studio apartment.  102526590

      host_name neighbourhood_group       neighbourhood  latitude  longitude  \
7704      Qasim               Bronx            Longwood  40.82209  -73.90086
45457   Justine               Bronx  University Heights  40.85689  -73.90910
32797     Digna               Bronx   Claremont Village  40.84346  -73.91151
24924    Esteem               Bronx         Parkchester  40.83805  -73.85867
32784   Bettina               Bronx            Van Nest  40.84778  -73.86146
...         ...                 ...                 ...       ...        ...
23460    Sueann       Staten Island         Tottenville  40.50873  -74.23914
43687    Janice       Staten Island        Prince's Bay  40.52293  -74.21238
45774     David       Staten Island     New Springville  40.58647  -74.15954
10874      Dawn       Staten Island       Tompkinsville  40.63378  -74.08726
19778    Edward       Staten Island   Castleton Corners  40.62063  -74.13001

             room_type  price  minimum_nights  number_of_reviews last_review  \
7704      Private room     80               1                  2  2019-04-30
45457     Private room     40               5                  0         NaN
32797     Private room     35               1                 49  2019-01-23
24924      Shared room     26               1                 18  2019-04-23
32784  Entire home/apt    150               1                 29  2019-06-03
...                ...    ...             ...                ...         ...
23460  Entire home/apt     85               2                 49  2019-07-01
43687  Entire home/apt     85               2                  8  2019-06-24
45774  Entire home/apt     68               2                  8  2019-06-30
10874     Private room     50               1                  0         NaN
19778  Entire home/apt     65               2                 52  2019-06-30

       reviews_per_month  calculated_host_listings_count  availability_365
7704                0.32                               1               255
45457                NaN                               5               362
32797               3.84                               1               168
24924               0.78                               2               342
32784               2.23                               3                24
...                  ...                             ...               ...
23460               2.08                               2               159
43687               3.33                               1                66
45774               5.33                               1                 4
10874                NaN                               1                 0
19778               1.95                               1                40

[48895 rows x 16 columns]